*{
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  margin:0;
  background:linear-gradient(#cfeaff,#f7fbff);
}

.container{
  padding:20px;
  padding-bottom:100px;
}

/* Header */
.header{
  text-align:center;
  margin-bottom:25px;
}
.logo{
  width:60px;
  height:60px;
  margin:auto;
  background:#2f80ed;
  color:white;
  border-radius:50%;
  font-size:30px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.header h1{
  margin:10px 0 5px;
}
.header p{
  color:#555;
  font-size:14px;
}

/* Card */
.card{
  background:white;
  border-radius:18px;
  padding:16px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:15px;
  box-shadow:0 8px 20px rgba(0,0,0,0.08);
  position:relative;
  transition:0.3s;
}
.card.active{
  border:2px solid #2f80ed;
}
.card-left h3{
  margin:0;
}
.card-left span{
  font-size:14px;
  color:#555;
}
.card-left small{
  display:block;
  margin-top:4px;
  color:#2f80ed;
  font-weight:bold;
}

/* Quantity */
.qty{
  display:flex;
  align-items:center;
  gap:10px;
}
.qty button{
  width:32px;
  height:32px;
  border:none;
  border-radius:50%;
  font-size:20px;
  cursor:pointer;
}
.qty button:first-child{
  background:#eee;
}
.qty button:last-child{
  background:#2f80ed;
  color:white;
}
.qty span{
  font-size:18px;
  font-weight:bold;
}

/* Tags */
.tag{
  position:absolute;
  top:-10px;
  left:15px;
  background:#f2c94c;
  padding:4px 10px;
  font-size:11px;
  border-radius:20px;
}
.tag.best{
  background:#ff7675;
  color:white;
}

/* Cart Button */
#cartBtn{
  position:fixed;
  bottom:15px;
  left:15px;
  right:15px;
  background:#2f80ed;
  color:white;
  border:none;
  padding:16px;
  border-radius:30px;
  font-size:18px;
  font-weight:bold;
}
