/* RESET */
*{
  box-sizing:border-box;
}

body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#ffffff;
  padding-bottom:90px;
}

/* HEADER */
.header{
  background:linear-gradient(180deg,#9fd6ff,#ffffff);
  text-align:center;
  padding:25px 20px;
  border-bottom-left-radius:30px;
  border-bottom-right-radius:30px;
}

.logo{
  width:70px;
  background:transparent;
  mix-blend-mode:multiply;
}

.header h1{
  margin:8px 0 0;
  color:#0f2a44;
}

.header p{
  margin-top:6px;
  color:#4b6b88;
}

/* CARD */
.card{
  background:#fff;
  margin:15px;
  padding:15px;
  border-radius:18px;
  box-shadow:0 4px 15px rgba(0,0,0,0.06);
  position:relative;
}

.row{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:10px;
}

/* ICON CIRCLE (VERY IMPORTANT) */
.icon{
  width:48px;
  height:48px;
  background:#eaf4ff;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  overflow:hidden;   /* image bahar nahi niklegi */
}

/* SMALL BOTTLE IMAGE */
.jar-logo{
  width:26px;
  height:auto;
  object-fit:contain;
}

/* TEXT */
.text h3{
  margin:0;
  color:#0f2a44;
}

.text small{
  color:#4b6b88;
  font-weight:bold;
}

/* QTY */
.qty{
  display:flex;
  align-items:center;
}

.qty button{
  border:none;
  background:#eaf4ff;
  padding:6px 10px;
  font-size:16px;
  border-radius:50%;
}

.qty span{
  margin:0 8px;
  font-weight:bold;
}

/* TAG */
.tag{
  position:absolute;
  top:-10px;
  left:15px;
  background:#ff9f43;
  color:#fff;
  font-size:12px;
  padding:4px 10px;
  border-radius:10px;
}

.orange{
  background:#ff7a18;
}

/* BUTTON */
.checkout button{
  width:90%;
  margin:20px 5%;
  padding:15px;
  font-size:16px;
  background:#2f80ed;
  color:#fff;
  border:none;
  border-radius:20px;
}

/* BOTTOM NAV */
.bottom-nav{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  display:flex;
  justify-content:space-around;
  background:#fff;
  border-top:1px solid #eee;
  padding:10px 0;
}

.bottom-nav a{
  text-align:center;
  font-size:12px;
  color:#888;
  text-decoration:none;
}

.bottom-nav span{
  display:block;
  font-size:11px;
}

.bottom-nav .active{
  color:#2f80ed;
}
